<a class="usa-skipnav" href="#main-content">Saltar al contenido</a>
<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="./assets/img/rd_flag.svg" alt="Bandera Dominicana" />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">
            Este es un sitio oficial de la República Dominicana
          </p>
          <p class="usa-banner__header-action" aria-hidden="true">
            Saber Más
          </p>
        </div>
        <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Saber Más</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="./assets/img/icon-dot-gov.svg" alt="Dot gov" />
          <div class="usa-media-block__body">
            <p>
              <strong>Los sitios .do significan es oficial.</strong>
              <br /> Los sitios web del gobierno dominicano a menudo terminan en .do. Antes de compartir información
              confidencial, asegúrese de estar en un sitio oficial del gobierno
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="./assets/img/icon-https.svg" alt="Https" />
          <div class="usa-media-block__body">
            <p>
              <strong>Este sitio es seguro</strong>
              <br /> El <strong>https://</strong> asegura que te estás conectando al sitio web oficial y que cualquier
              información que proporcione está encriptado y transmitido de forma segura.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <app-navbar></app-navbar>
</header>
