.photos ul li {

  margin-bottom: 20px;

  &.image {

    list-style: none;
    padding: 0;

    h3 {
      font-size: 1rem;
      line-height: 1.3rem;
    }

    img {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 140px;
      transition: .75s all;
      overflow: hidden;
    }

    &:hover {
      img {
        cursor: pointer;
        -webkit-filter: brightness(65%);
        filter: brightness(65%);
      }
    }

    .extra {
      display: none;
    }
  }

}
