/* You can add global styles to this file, and also import other style files */

.rl {
    color: #1a4480 !important;
    font-weight: bold !important;
}

.somelabel {
    font-weight: bold !important;
}